.button {
  color: #fff;
  background-color: #009B48;
  border: 1px solid #009B48;
  height: 4rem;
  padding: 0 1.5rem;
  outline: 0;
}

.button:hover, .button:active {
  cursor: pointer;
  background-color: #69A473;
}


.button__secondary {
  color: #fff;
  background-color: #002776;
  border: 1px solid #002776;
  padding: 1rem 3rem;
}

.button__secondary:hover, .button__secondary:active {
  cursor: pointer;
  background-color: #022E87;
}

.button--seamless {
  color: #fff;
  cursor: pointer;
  background-color: inherit;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}


.input {
  outline: 0;
  border: 1px solid #B0B0B0;
  background-color: #fff;
  height: 4rem;
  padding: 0 1rem;
}

.input:focus {
  border-color: #78e7b6;
}


.icon-button {

}

.icon-button:hover {
  color: #D10074;
  cursor: pointer;
}
