.button {
  color: #fff;
  background-color: #009B48;
  border: 0;
  height: 4rem;
  outline: 0;
}

.button:hover, .button:active {
  cursor: pointer;
  background-color: #69A473;
}


.input {
  outline: 0;
  border: 1px solid #B0B0B0;
  background-color: inherit;
  height: 4rem;
  padding: 0 1rem;
}

.input:focus {
  border-color: #78e7b6;
}


.icon-button {

}

.icon-button:hover {
  color: #D10074;
  cursor: pointer;
}
