.logo {
  display: inline-block;
}

.logo img {
  max-height: 100%;
  margin: 0.5rem 0.5rem 0.5rem 0;
}

.logo:after {
  content: '';
  left: 45px;
  display: inline-block;
  position: absolute;
  height: 50px;
  width: 1px;
  background-color: #cbd2da;
  transform: rotate(-20deg);
  transform-origin: top left;
}
