.sidenav {
  width: 300px;
  height: calc(100vh - 44px);
  z-index: 1;
  top: 0;
  left: 0;
  float: left;
  overflow-x: hidden;
  background-color: #FFFFFF;
  padding-top: 50px;
  padding-left: 50px;
}

.sidenav h1{
  font-family: flanders-serif, serif;
  color: #333333;
  font-weight: 300;
  font-size: 4.8rem;
}

