.vlaio-footer {
  background-color: #f2f2f2;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.vlaio-footer__left {
  height: 100%;
  display: flex;
  align-items: center;
}

.vlaio-footer__left img {
  max-height: 100%;
}

.vlaio-footer__left img, .vlaio-footer__left a{
  margin-right: 4rem;
}

