.vlaio-header {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.vlaio-header__top, .vlaio-header__bottom {
  width: 100%;
}

/* TOP HEADER */
.vlaio-header__top {
  border-bottom: 1px solid #CBD2DA;
  display: flex;
  align-items: center;
  position: relative;
  height: 6rem;
}

.vlaio-header__top__logo {
  height: 100%;
  padding: 0.8rem 2rem 0.8rem;
  position: relative;
}

.vlaio-header__top__logo:after {
  content: '';
  right: 0.5rem;
  top: 0;
  position: absolute;
  height: 6rem;
  width: 2px;
  background-color: #CBD2DA;
  transform: rotate(-20deg);
  transform-origin: top left;
}

.vlaio-header__top__logo img {
  max-height: 100%;
}

.vlaio-header__top__titles {
  font-family: flanders-sans;
  margin-left: 3rem;
}

.vlaio-header__top__titles h1 {
  display: inline-block;
  position: relative;
  font-size: 1.9rem;
  margin-right: 4rem;
}

.vlaio-header__top__titles h1:after {
  content: '';
  top: -50%;
  right: -1.5rem;
  position: absolute;
  height: 4rem;
  width: 2px;
  background-color: #CBD2DA;
  transform: rotate(-20deg);
  transform-origin: top left;
}

.vlaio-header__top__titles h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 500;
}

.vlaio-header__top__contact {
  position: absolute;
  top: 0;
  right: 0;
}

.vlaio-header__top__contact div {
  line-height: 6rem;
  color: #fff;
  padding: 0 2rem;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  background-color: #009B48;
  z-index: 1;
}

.vlaio-header__top__contact div:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #009B48;
  transform-origin: bottom left;
  transform: skew(20deg, 0deg);
}


/* BOTTOM HEADER */
.vlaio-header__bottom {
  height: 4rem;
  width: 100%;
  border-bottom: 1px solid #CBD2DA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.vlaio-header__bottom div:first-of-type {
  color: #007AC9;
}
