.login {
  width: 40%;
  background-color: #f2f2f2;
  min-height: 40rem;
  padding: 4rem;
  box-shadow: 1px -1px 6px 0px #c7c7c7, -1px 0px 6px 0px #c7c7c7;
}

.login__title {
  font-weight: normal;
  font-size: 3.2rem;
  color: #007AC9;
  margin: 0 0 3rem;
}

.login__form label {
  margin-bottom: 2rem;
  display: block;
}

.login__form input {
  display: block;
  width: 100%;
  margin-top: 0.5rem;
}

.login__form input.button {
  width: 45%;
  min-width: 8rem;
}
