.side-nav {
  width: 30rem;
  height: calc(100vh - 4.4rem - 13.6rem);
  z-index: 1;
  top: 0;
  left: 0;
  float: left;
  overflow-x: hidden;
  background-color: #FFFFFF;
  padding-top: 50px;
  padding-left: 50px;
  font-family: flanders-sans, sans-serif;
}

.side-nav h1{
  color: #333333;
  font-weight: 300;
  font-size: 4.8rem;
}

fieldset {
  border: 0;
  margin-bottom: 1.5rem;
}

.main-legend {
  text-transform: uppercase;
  color: #333333;
  font-weight: 500;
  font-size: 2rem;
  padding-bottom: 1rem;
  width: 100%;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  border-bottom: 1px solid #333333;
}

