.side-nav {
  width: 300px;
  height: calc(100vh - 44px);
  z-index: 1;
  top: 0;
  left: 0;
  float: left;
  overflow-x: hidden;
  background-color: #009B48;
}

.side-nav h1{
  font-family: flanders-serif, serif;
}
