.side-nav {
  width: 35rem;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: hidden;
  color: #FFFFFF;
  background-color: #0A317C;
  padding-top: 5rem;
  padding-left: 2rem;
  font-family: flanders-sans, sans-serif;
}

.between-text {
  color: #FFFFFF;
}

.side-nav h1 {
  font-weight: 300;
  font-size: 4.8rem;
}

.side-nav fieldset {
  border: 0;
  margin-bottom: 1.5rem;
  padding: 0; /* TODO! */
  margin-bottom: 2rem;
}

.main-legend {
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 1.7rem;
  /*padding-bottom: 1rem;*/
  width: 100%;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  /*border-bottom: 1px solid #FFFFFF;*/
}

.side-nav--companies .input {
  width: 90%;
}

.company-list {
  height: 80%;
}

.company-list .main-legend {
  margin-bottom: 1.5rem;
}

.company-list__companies {
  overflow-y: scroll;
  height: 100%;
}

.company-list__companies header {
  font-size: 1.4rem;
  font-weight: bold;
}

.company-list__companies__collection {
  margin-bottom: 1.5rem;
}

.company-list__companies__collection ul {
  padding-left: 2rem;
}

.company-list__companies__collection li {
  font-size: 1.3rem;
  padding: 0.4rem 0;
  list-style-type: none;
}
