.timeline {
  width: 50%;
  margin: 5rem auto;
  list-style-type: none;
  position: relative;
}

ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 9px;
  width: 2px;
  height: 100%;
  z-index: 400;
}

.timeline > li {
  margin: 20px 0;
}

.timeline > li span:first-child {
  margin-bottom: 0.4rem;
  font-weight: 500;
}

.timeline > li span {
  display: block;
}

.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #009B48;
  left: 0;
  width: 20px;
  height: 20px;
  z-index: 400;
}
