.user-management {
  width: 70%;
  background-color: #f2f2f2;
  min-height: 40rem;
  padding: 5rem;
}

.user-management__title {
  font-weight: normal;
  font-size: 3.2rem;
  color: #007AC9;
  margin: 0;
}

.user-management__actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 2rem 0;
}

.user-management__actions__add-user i {
  margin-right: 1rem;
}

.user-management__users {
  width: 100%;
}

.user-management__users th, .user-management__users td {
  text-align: left;
  padding: 0.5rem;
}

.user-management__users .user-management__users__role {
  min-width: 2rem;
  padding-right: 1.5rem;
}

.user-management__users select {
  width: 100%;
}

.user-management__users__actions {

}
